<body>
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 mt-5 mb-5 mx-auto">
          <h1><b>About</b></h1>
            <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
            <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
            <p>さまざまなバリエーションをご用意しております。</p>
            <p>また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。</p>
            <p>ぜひご注文ください。</p>
            <img src="https://images.pexels.com/photos/1485805/pexels-photo-1485805.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="image-fluid" style="width: 550px; height: 250px;">
        </div>
      </div>
    </div>
  </main>
</body>
