<div class="container">
  <div class="row">
    <div class="col-6 mt-4 px-3"> 
      <h1>ジャンル編集</h1>
      <%= form_with model: @genre, url: admin_genre_path(@genre) do |f| %>
        <div class="d-flex align-items-center mt-5 px-3">
          <%= f.label :name, "ジャンル名", class: "mr-3 flex-shrink-1", style: 'min-width: 100px;' %>
          <%= f.text_field :name, class: "form-control mr-5 flex-grow-1" %>
          <%= f.submit '変更を保存', class: "btn btn-success flex-shrink-1" %>
        </div>        
      <% end %>
    </div>
  </div>
</div>