<div class="col-sm-3 mt-5">
  <div class="sidebar d-flex flex-column align-items-center border p-2 mr-5">
    <h5 class="border-bottom pb-3 w-100 text-center">ジャンル検索</h5>
    <div class="btn-group-vertical mt-3 w-100 ">
      <%= form_with url: genre_search_path, method: :get do |f| %>
        <% @genres.each do |genre| %>
          <%= link_to genre.name, genre_search_path(genre_id: genre.id), method: :get, class: "btn btn-outline-primary mb-2 w-100", role: "button" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>