<div class="container py-3">
  <div class="row">
    <div class="col-md-8">
      <h3 class="mb-4">検索結果</h3>
      <% @items.each do |item| %>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <% if item.image.attached? %>
                <%= image_tag item.image, class: "card-img", size: "210x180" %>
              <% else %>
                <%= image_tag "no_image.jpg", class: "card-img", size: "210x180" %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= link_to item.name, item_path(item.id) %></h5>
                <p class="card-text">￥<%= item.price %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>