<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>商品一覧(全<%= @items_all.count %>件)</h2>
    </div>
  </div>
  <div>
    <% @item.each do |item| %>
      <%= render "item_eath", item: item %>
    <% end %>
  </div>
  
  
  <div><%= paginate(@products) %></div>
    
    
    
     
