   <body>
    <footer style="background-color: #ADD8E6; color: #fff; padding: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-12">
          </div>
        </div>
      </div>
      <p class="text-center">Team Tsukudani</p>
    </footer>
  </body>